# =========================
# Android / Kotlin / Java
# =========================
*.iml
/local.properties
/.idea/
/.gradle/
/build/
/captures/
/.externalNativeBuild/
/.cxx/
.DS_Store

# IDE específicos do Android Studio
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# =========================
# Java / Spring Boot
# =========================
/target/
/out/
*.class
*.jar
*.war
*.ear
hs_err_pid*

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# =========================
# Logs e sistema
# =========================
*.log
*.swp
*.swo
*.bak
*.tmp

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Outros
# =========================
.idea/
*.jks
*.jks
