# Diretórios de dependências
node_modules/
.expo/

# Cache e logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente de desenvolvimento
.env
.env.local
.env.development
.env.test
.env.production

# Build e distribuição
build/
dist/
*.apk
*.aab
*.ipa

# Configurações do IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações do Expo
.expo-shared/

# Configurações do React Native
*.keystore
*.jks

# Configurações do Android
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/captures/

# Configurações do iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcuserstate